<div class="row">
  <%= form_for @job, class: "col s12" do |f| %>
    <div class="row">
      <div class="input-field offset-s3 col s6">
        <%= f.label :title, value: "title" %>
        <%= f.text_field :title, class: "validate" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col offset-s3 s6">
        <%= f.label :description, value: "description" %>
        <%= f.text_area :description, size: "60x6", class: "validate" %>
      </div>
    </div>
    <div class="row center">
        <%= f.submit %>
    </div>
  <% end %>
</div>
